<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/add_componente.css">
    
    <script src="../../js/confirmAction.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Adicionar Componente</title>
</head>

<body>
    <header>
        <a href="/adm">
            <h1>SD Maintenance Log</h1>
        </a>
        <a href="/" class="button">
            <i class="fas fa-door-open"></i>
            <div class="logout">LOGOUT</div>
        </a>
    </header>
    <div class="Loading">
        <div class="Loading-progress"></div>
    </div>


    <!---------------------------------------------------------------------------------------------->
    <main>
        <div class="lista">
            <h3 class="title">
                COMPONENTES DO DISPOSITIVO <br>
                <%= computador.Name %>
            </h3>

            <% for( let i=0; i < computador.devices.length; i++ ) { %>
                <form action="/adm/editDevice/<%= computador.SpotPosition %>" onclick="this.submit()" method="POST">
                    <div class="item">
                        <input style="display: none;" name="ID" value="<%=computador.devices[i].ID%>">
                        <input style="display: none;" name="Device" value="<%=computador.devices[i].Name%>">
                        <input style="display: none;" name="Brand" value="<%=computador.devices[i].Brand%>">
                        <input style="display: none;" name="Description" value="<%=computador.devices[i].Description%>">
                        <p>
                            <%= computador.devices[i].Name %>
                        </p>
                        <span class="tooltiptext">
                            <b>Marca: </b>
                            <%= computador.devices[i].Brand %>
                                <br>
                                <b>Descrição: </b>
                                <%= computador.devices[i].Description %>
                        </span>
                    </div>
                </form>
                <% } %>
        </div>

        <!---------------------------------------------------------------------------------------------->

        <div class="right">
            <div class="buttons">
                <button id="selecionado">Componentes</button>
                <button id="nao_selecionado" style="margin-left: .3em;">Relatorios</button>
            </div>

            <!-- CADASTRAR COMPONENTE -->
            <div class=<%=edit ? "some" : "add_componente" %> >
                <div class="title" style="margin-top: 1em;">
                    <h3 class="title">
                        <i class="fas fa-keyboard" style="color: white; font-size: 2em; margin-right: .3em;"></i>
                        Cadastrar Componente
                    </h3>
                </div>

                <form action="/adm/computador/<%= computador.SpotPosition %>" method="post">
                    <div class="line">
                        <input name="Name" type="text" class="transição" placeholder="Nome :" required="required"
                            minlength="3">
                    </div>

                    <div class="line">
                        <input name="Brand" type="text" class="transição" placeholder="Marca :" required="required"
                            minlength="2">
                    </div>
                    <div class="line">
                        <textarea name="Description" class="transição" placeholder="Descrição :"
                        required="required" minlength="2" style="resize: none;"></textarea>
                    </div>

                    <input name="Computer" type="text" style="display: none;" value="<%=computador.Name%>">

                    <div class="line" style="margin-top: .5em; margin-bottom: 1em;">
                        <button type="submit" value="Cadastrar" id="enviar">Cadastrar</button>
                    </div>

                </form>

            </div>

            <!-- EDITAR COMPONENTE -->
            <div class=<%=edit ? "add_componente" : "some" %>>
                <div class="title" style="margin-top: 1em;">
                    <h3 class="title">
                        <i class="fas fa-keyboard"></i>
                        <!-- <i class="fas"></i> -->
                        Editar Componente
                    </h3>
                </div>


                <form action="/adm/editDevice/<%= computador.SpotPosition %>/edit" method="POST">
                    <input class="some" name="ID" value="<%= edit ? values.ID : '' %>">
                    <div class="line">
                        <input name="Name" type="text" class="transição" placeholder="Nome :" required="required"
                            value="<%= edit ? values.Device : ""%>">
                    </div>

                    <div class="line">
                        <input name="Brand" type="text" class="transição" placeholder="Marca :" required="required"
                            minlength="2" value="<%= edit ? values.Brand : ""%>">
                    </div>
                    <div class="line">
                        <textarea name="Description" class="transição" placeholder="Modelo :"
                        required="required" minlength="2" style="resize: none;"> <%=edit ? values.Description : "" %></textarea>

                    </div>


                    <div class="line" style="margin-top: .5em; margin-bottom: 1em;">
                        <button type="submit" value="Cadastrar" id="enviar">Editar</button>
                        <% if (edit) { %>
                            <button class=<%= values.Device === "Este Computador" ? 'some' : '' %> onclick="deleteFunction(event)" value="Cadastrar" id="excluir">Excluir</button>
                        <% } %>
                    </div>
                </form>

                <form id="deleteForm" name="delete" action="/adm/removeComputer/<%=computador.SpotPosition%>" method="POST">
                    <input name="ID" class="some" value=<%= edit ? values.ID : '' %>>
                </form>
            </div>

        </div>
    </main>
</body>
</html>