<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/adm_relatoio.css">
    <script src="../../js/confirmAction.js"></script>


    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/adm_relatoio.css">
    <script src="../../../js/confirmAction.js"></script>



    
    <script src="../../js/confirmAction.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Adicionar Componente</title>
</head>

<body>
    <header>
        <a href="/adm">
            <h1>SD Maintenance Log</h1>
        </a>
        <a href="/" class="button">
            <i class="fas fa-door-open"></i>
            <div class="logout">LOGOUT</div>
        </a>
    </header>
    <div class="Loading">
        <div class="Loading-progress"></div>
    </div>


    <!---------------------------------------------------------------------------------------------->
    <main>
        <div class="lista">
            <h3 class="title">
                COMPONENTES DO DISPOSITIVO <br>
                <%= computador.Name %>
            </h3>

            <% for( let i=0; i < computador.devices.length; i++ ) { %>
                <form action="/adm/relatorio/<%= computador.SpotPosition %>" onclick="this.submit()" method="POST">
                    <div class="item">
                        <input style="display: none;" name="ID" value="<%=computador.devices[i].ID%>">
                        <input style="display: none;" name="Device" value="<%=computador.devices[i].Name%>">
                        <p>
                            <%= computador.devices[i].Name %>
                        </p>
                        <span class="tooltiptext">
                            <b>Marca: </b>
                            <%= computador.devices[i].Brand %>
                                <br>
                                <b>Descrição: </b>
                                <%= computador.devices[i].Description %>
                        </span>
                    </div>
                </form>
                <% } %>
        </div>

        <!---------------------------------------------------------------------------------------------->

        <div class="right">
            <div class="buttons">
                <button type="submit" form="redirect-form" id="nao_selecionado">Componentes</button>

                <button id="selecionado" style="margin-left: .3em;" >Relatorios</button>

                <form id="redirect-form" class="some" action="/adm/computador/<%= computador.SpotPosition %>" method="GET"></form>
            </div>

            <div class="tds_relatorios">
                <h4 class="title" style="align-items: center;">
                    <i class="fas fa-tty" style="color: black; margin-right: .5em; font-size: 3rem;"></i>
                    Relatórios deste Computador
                </h4>

                <form action="/adm/relatorio/<%= computador.SpotPosition %>/filter" method="POST">
                    <select name="filter" id="retorno_relatorio" required="required" onchange="this.form.submit()">
                        <option <%=filter==="Todos" ? 'selected' : '' %> value="Todos" selected>Todos</option>
                        <option <%=filter==="Pendentes" ? 'selected' : '' %> value="Pendentes">Pendentes</option>
                        <option <%=filter==="Resolvidos" ? 'selected' : '' %> value="Resolvidos">Resolvidos</option>
                    </select>
                </form>


                <% for( let i=0; i < logs.length; i++ ) { %>
                    
    
                    <div class="relatorio" id="<%=logs[i].Type%>">
                        <form action="/adm/relatorio/resolver/<%= computador.SpotPosition%>" method="POST" class="some" id="form-<%= i %>">
                            <input name="id" type="text" class="some" value="<%= logs[i].ID %>">
                        </form>

                        <div class="esquerda_relatorio">
                            <div class=<%=logs[i].Resolved ? "finalizado" : "pendente" %> >
                                <% if (logs[i].Resolved) { %>
                                    <i class="far fa-check-circle"></i>
                                    <% } else { %>
                                        <p onclick="resolveLog(event, <%= i %>)" data-tooltip="Finalizar"> <i class="far fa-times-circle adm"></i></p>
                                        <% } %>
                                            <h5 class="nome">
                                                <%= logs[i].Description %>
                                            </h5>
                            </div>
                        </div>

                        <div class="meio_relatorio">
                            <p>
                                <%= logs[i].createdAt %> <br> Usuário: <%= logs[i].User %>
                            </p>
                        </div>

                        <div class="direita_relatorio">
                            <span style="font-size: 15px;">
                                <%= logs[i].Device %>
                            </span>
                            <div class="circle"></div>

                        </div>
                    </div>
                    <% } %>
            </div>

        </div>
    </main>
</body>

</html>