<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/computadores.css">
    <link rel="stylesheet" href="../css/controles.css">
    <link rel="stylesheet" href="../css/header.css">

    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Controle da Sala</title>
</head>

<body>
    <header>
        <div class="dir">
            <img src="../../img/big_icon.png">
            <a href="/adm">
                <h1>SD Maintenance Log</h1>
            </a>
        </div>

        <a href="/" class="button">
            <i class="fas fa-door-open"></i>
            <div class="logout">LOGOUT</div>
        </a>
    </header>
    <div class="Loading">
        <div class="Loading-progress"></div>
    </div>

     <!---------------------------------------------------------------------------------------------------------->




    <h1 class="room-title">Sala Digital</h1>
    <div class="sala">
        <div class="frente">
            <div>
                <div class="mesa mesa-frente">
                <% if (posicoes.length > 0 && posicoes[20]) { %>
                    <a href="/adm/computador/21"><img class="pc pc-frente" src="img/computadores/pc.png"></a>
                <% } else { %>
                    <a href="/adm/computador/cadastrar/<%= 21 %>">
                        <i class="add-btn fas fa-plus-circle"></i>
                    </a>
                <% }%>
                    <img class="mesa-frente" src="img/computadores/mesa-frente.png" alt="" />
                </div>
            </div>
            <div class="images">
                <a href="/adm/usuarios">
                    <img src="https://static-00.iconduck.com/assets.00/user-circle-gear-icon-503x512-uknj3bht.png"
                        id="img_user" style="margin-right: 1em;">
                </a>

                <a href="/adm/computador/editar">
                    <img src="https://img.myloview.com.br/posters/computer-gear-system-icon-simple-illustration-of-computer-gear-system-vector-icon-for-web-design-isolated-on-white-background-400-239947293.jpg"
                        id="img_user">
                </a>
            </div>

        </div>
        <div class="mesas">
            <section class="esquerdo">
                <% for(var i=0; i < 20; i+=2) { %>
                    <div class="mesa">
                        <div class="desk mesa-esquerda">
                            <% if(posicoes[i] && i < posicoes.length) { %>
                                <a href="/adm/computador/<%=i+1%>"><img class="pc" src="img/computadores/pc.png"></a>
                                <% } else { %>
                                    <a href="/adm/computador/cadastrar/<%=i+1%>"><i
                                            class="add-btn fas fa-plus-circle"></i></a>
                                    <% } %>
                                        <img src="img/computadores/mesa-esquerda.png" />
                        </div>
                        <div class="desk mesa-direita">
                            <% if(posicoes[i + 1] && (i + 1) < posicoes.length) { %>
                                <a href="/adm/computador/<%=i+2%>"><img class="pc" src="img/computadores/pc.png"></a>
                                <% } else { %>
                                    <a href="/adm/computador/cadastrar/<%=i+2%>"><i
                                            class="add-btn fas fa-plus-circle"></i></a>
                                    <% } %>
                                        <img src="img/computadores/mesa-direita.png" />
                        </div>
                    </div>
                    <% } %>
            </section>
        </div>
    </div>

</body>

</html>