<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Controle de Usuários</title>

    <link rel="stylesheet" href="../css/controles.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/CPF_mask.js"></script>
    <script src="../js/confirmAction.js"></script>

</head>

<body>

    <header>
        <a href="/">
            <h1>SD Maintenance Log</h1>
        </a>
        <div class="links">
            <a href="controle_computadores.html">Computador</a>
            <span>|</span>
            <a href="controle_sala.html">Sala</a>
        </div>

    </header>
    <div class="Loading">
        <div class="Loading-progress"></div>
    </div>


    <main>
        <div class="lista">
            <h3 class="title">Usuários Cadastrados</h3>
            <% for( let i = 0; i < usuarios.length; i++ ) { %>
                <form method="POST" action="/adm/editUsuario" onclick="this.submit()">
                    <input class="some" name="Name" value="<%= usuarios[i].Full_Name %>">
                    <input class="some" name="EDV" value="<%= usuarios[i].EDV %>">
                    <input class="some" name="CPF" value="<%= usuarios[i].CPF %>">
                    <input class="some" name="Role" value="<%= usuarios[i].Role %>">
                    <input class="some" name="Shift" value="<%= usuarios[i].Shift %>">
                    
                    <div class="item">
                        <h3 class="info1"><span>EDV: </span><%= usuarios[i].EDV %></h3>
                        <h3 class="info2"><%= usuarios[i].Full_Name %> </h3>
                    </div>
                </form>
            <% } %>
        </div>

        <div class= <%=edit ? "some" : "cadastrar" %>>
            <div class="title">
                <i class="fas fa-users-cog" style="color: white; font-size: 5rem;"></i>
                <h3 class="title" id="cadastrar">Cadastrar Usuário</h3>
            </div>

            <form action="/adm/usuarios" method="POST">
                <div class="line" id="first">
                    <input name="Name" type="text" class="transition" placeholder="Nome " required="required" minlength="2">
                    <input name="Name2" type="text" class="transition" placeholder="Sobrenome" required="required" minlength="2">
                </div>
                <div class="line">
                    <input name="EDV" type="text" class="transition" placeholder="EDV " required="required" minlength="8" maxlength="8">
                    <input name="CPF" type="text" class="transition" id="cpf" onkeypress="mascara()" placeholder="CPF " required="required" minlength="14" maxlength="14">
                </div>
                <div class="line">
                    <input name="Role" type="text" class="transition" placeholder="Cargo " required="required" minlength="4">
                    <select name="Shift" class="transition" style="width: 43%;" required="required">
                        <option value="Turno" selected disabled>Turno </option>
                        <option value="Manhã">Manhã</option>
                        <option value="Tarde">Tarde</option>
                    </select>
                </div>

                <div class="line">
                    <button type="submit" value="Cadastrar" id="cadastrar">Cadastrar</button>
                </div>
            </form>
        </div>

        <div class= <%=edit ? "cadastrar" : "some" %> >
            <div class="title">
                <i class="fas fa-users-cog" style="color: white; font-size: 5rem;"></i>
                <h3 class="title" id="cadastrar">Editar Usuário</h3>
            </div>

            <form action="/adm/usuarios" method="POST">
                <div class="line" id="first">
                    <input name="Name" type="text" class="transition" placeholder="Nome" required="required" minlength="2"
                    value="<%= edit ? values.Name : '' %>">
                    <input name="Name2" type="text" class="transition" placeholder="Sobrenome" required="required" minlength="2"
                    value="<%= edit ? values.Name2 : '' %>">
                </div>
                <div class="line">
                    <input name="EDV" type="text" class="transition" placeholder="EDV" required="required" minlength="8" maxlength="8"
                    value="<%= edit ? values.EDV : '' %>">
                    <input name="CPF" type="text" class="transition" id="cpf" onkeypress="mascara()" placeholder="CPF" required="required" minlength="14" maxlength="14"
                    value="<%= edit ? values.CPF : '' %>">
                </div>
                <div class="line">
                    <input name="Role" type="text" class="transition" placeholder="Cargo" required="required" minlength="4"
                    value="<%= edit ? values.Role : '' %>">
                    <select name="Shift" class="transition" style="width: 43%;" required="required" >
                        <option value="Turno" disabled>Turno </option>
                        <option <%= values.Shift == this.value ? 'selected' : '' %>  value="Manhã">Manhã</option>
                        <option <%= values.Shift == this.value ? 'selected' : '' %>  value="Tarde">Tarde</option>
                    </select>
                </div>

                <div class="line">
                    <button type="submit" value="Cadastrar" id="enviar">Editar</button>
                    <button onclick="deleteFunction(event)" value="Cadastrar" id="excluir">Excluir</button>
                </div>
            </form>

            <form id="deleteForm" name="delete" action="/" method="GET">
                <input name="ID" class="some" value="">
            </form>
        </div>
    </main>

  

</body>

</html>