<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/relatorio.css">
    <link rel="stylesheet" href="../../css/header.css">
    <script src="../js/CPF_mask.js"></script>
    <script src="../../js/CPF_mask.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Relatorio</title>
</head>

<body>

    <header>
        <a href="/">
            <h1>SD Maintenance Log</h1>
        </a>
    </header>
    <div class="Loading">
        <div class="Loading-progress"></div>
    </div>

    <main>
        <div class="lista">
            <h3 class="title">
                COMPONENTES DO DISPOSITIVO <br>
                <%= computador.Name %>
            </h3>
            <% for(var i=0; i < computador.devices.length; i++) { %>
                <form action="/relatorio/<%= computador.SpotPosition %>" onclick="this.submit()" method="POST">
                    <div class="item <%= device === computador.devices[i].Name ? "selected" : '' %>">
                        <input style="display: none;" name="ID" value="<%=computador.devices[i].ID%>">
                        <input style="display: none;" name="Device" value="<%=computador.devices[i].Name%>">
                        <p>
                            <%= computador.devices[i].Name %>
                        </p>
                        <span class="tooltiptext">
                            <b>Marca: <%= computador.devices[i].Brand %></b>
                            <br>
                            <b>Descrição: <%= computador.devices[i].Description%></b>
                        </span>
                    </div>
                </form>
                <% } %>
        </div>


        <div class="right">
            <div class="add_relatorio">
                <h4 class="title">
                    <span>
                        <i class="fas fa-tty" style="color: white; margin-right: .5em;"></i>
                        Adicionar Relatório
                    </span>
                    <br>
                </h4>

                <form action="/relatorio/insert/<%= computador.SpotPosition %>" method="POST">
                    <div class="line">
                        <select name="Type" class="transição" style="width: 38%; margin-left: 2.8em;">
                            <option value="" selected disabled required="required"> Tipo relatorio</option>
                            <option value="Grave">Grave</option>
                            <option value="Médio">Médio</option>
                            <option value="Simples">Simples</option>
                        </select>

                        <select name="Device" class="transição" style="margin-right: 10px; width: 38%;">
                            <option disabled selected>Dispositivo</option>
                            <% for( let i=0; i < computador.devices.length; i++ ) { %>
                                <option value="<%= computador.devices[i].ID %>">
                                    <%= computador.devices[i].Name %>
                                </option>
                                <% } %>
                        </select>
                    </div>

                    <div class="line">
                        <input name="EDV" type="text" class="transição" placeholder="EDV:" required="required"
                            minlength="8" maxlength="8">
                        <input name="CPF" type="text" class="transição" id="cpf" onkeypress="mascara()"
                            placeholder="CPF:" required="required" maxlength="14">
                    </div>

                    <div class="line">
                        <textarea name="Description" placeholder="Descrição:" required="required"
                            maxlength="200"></textarea>
                    </div>

                    <div class="line">
                        <button type="submit" id="enviar">Enviar</button>
                    </div>
                </form>
            </div>

            <div class="tds_relatorios">
                <h4 class="title" style="align-items: center;">
                    <i class="fas fa-tty" style="color: black; margin-right: .5em; font-size: 3rem;"></i>
                    Relatórios deste Computador
                </h4>

                <form action="/relatorio/<%= computador.SpotPosition %>/filter" method="POST">
                    <select name="filter" id="retorno_relatorio" required="required" onchange="this.form.submit()">
                        <option <%=filter==="Todos" ? 'selected' : '' %> value="Todos" selected>Todos</option>
                        <option <%=filter==="Pendentes" ? 'selected' : '' %> value="Pendentes">Pendentes</option>
                        <option <%=filter==="Resolvidos" ? 'selected' : '' %> value="Resolvidos">Resolvidos</option>
                    </select>
                </form>


                <% for( let i=0; i < logs.length; i++ ) { %>
                    <div class="relatorio" id="<%=logs[i].Type%>">
                        <div class="esquerda_relatorio">
                            <div class=<%=logs[i].Resolved ? "finalizado" : "pendente" %> >
                                <% if (logs[i].Resolved) { %>
                                    <i class="far fa-check-circle"></i>
                                    <% } else { %>
                                        <p> <i class="far fa-times-circle adm"></i></p>
                                        <% } %>
                                            <h5 class="nome">
                                                <%= logs[i].Description %>
                                            </h5>
                            </div>
                        </div>

                        <div class="meio_relatorio">
                            <p>
                                <%= logs[i].createdAt %> <br> Usuário: <%= logs[i].User %>
                            </p>
                        </div>

                        <div class="direita_relatorio">
                            <span style="font-size: 15px;">
                                <%= logs[i].Device %>
                            </span>
                            <div class="circle"></div>

                        </div>
                    </div>
                    <% } %>

                        <!-- <div class="relatorio" id="Médio">
                            <div class="esquerda_relatorio">
                                 <div class="finalizado">
                                    <i class="far fa-check-circle"></i>
                                    <h5 class="nome">Monitor Piscando</h5>
                                </div> -
                                <div class="pendente">
                                    <p data-tooltip="Finalizar"><i class="far fa-times-circle adm"></i></p>
                                    <h5 class="nome">Monitor Piscando</h5>
                                </div>
                            </div>

                            <div class="meio_relatorio">
                                <p>01/01/2001 <br> Usuário: 454646374</p>
                            </div>
                            <div class="direita_relatorio">
                                <span style="font-size: 15px;">Teclado</span>
                                <div class="circle"></div>
                            </div>
                        </div> -->


            </div>
        </div>

    </main>

</body>

</html>